{% extends "base.j2" %}
{% block body %}
    <form method="post">
        <input name="username">
        <input name="password" type="password">
        <button>ログイン</button>
    </form>
{% endblock %}
