{% extends "layout/mode.j2" %}

{% include 'layout/globalnav.j2' %}
{% block container %}
    <main class="container">
        {% for message in get_flashed_messages() %}<div>{{ message }}</div>{% endfor %}
        {% block content %}
        {% endblock content %}
    </main>
{% endblock container %}