{% extends "layout/mode.j2" %}

{% include 'layout/globalnav.j2' %}
{% block container %}
    <main class="container">
        {% block content %}
        {% endblock content %}
    </main>
{% endblock container %}