<footer class="pt-5 text-body-secondary bg-body-tertiary">
  <div class="container">
    <div class="row">
      <div class="col-12 col-md-3 social-links d-flex gap-2 mb-3 mb-md-0">
          <a href="https://github.com/arihito" target="_blank" class="text-body-secondary fade-in fade-delay-1"><span class="fa-stack fa-lg"><i class="fa fa-square-o fa-stack-2x"></i><i class="fa fa-github fa-stack-1x"></i></span></a>
          <a href="https://twitter.com/arihitter" target="_blank" class="text-body-secondary fade-in fade-delay-2"><span class="fa-stack fa-lg"><i class="fa fa-square-o fa-stack-2x"></i><i class="fa fa-twitter fa-stack-1x"></i></span></a>
          <a href="https://www.facebook.com/arihito" target="_blank" class="text-body-secondary fade-in fade-delay-3"><span class="fa-stack fa-lg"><i class="fa fa-square-o fa-stack-2x"></i><i class="fa fa-facebook fa-stack-1x"></i></span></a>
          <a href="https://www.instagram.com/arihito.m" target="_blank" class="text-body-secondary fade-in fade-delay-4"><span class="fa-stack fa-lg"><i class="fa fa-square-o fa-stack-2x"></i><i class="fa fa-instagram fa-stack-1x"></i></span></a>
          <a href="https://www.linkedin.com/in/arihito-matsuda-8049596a/" target="_blank" class="text-body-secondary fade-in fade-delay-5"><span class="fa-stack fa-lg"><i class="fa fa-square-o fa-stack-2x"></i><i class="fa fa-linkedin fa-stack-1x"></i></span></a>
      </div>
      <div class="col-12 col-md-9">
        <p class="col-12 col-md-10 fade-in fade-delay-5">このFlask tech blogは、職業訓練校の課題として、Flaskアプリケーションの開発学習を目的に作成しています。<br>
        投稿記事のダミーテキストの一部は、AIによって生成しています。また、記事内容の正誤については、あくまで自身の理解をまとめたものですので、
        参考程度にご覧いただけますと幸いです。
        </p>
        <nav class="mb-4 mb-md-5">
            {% for key, val in FOOTER_NAV_PAGES.items() %}
                {% if not loop.first %}<span class="fade-in fade-delay-{{ loop.index }}">| </span>{% endif %}<a class="text-body-secondary {% if loop.first %}me-3{% else %}mx-3{% endif %} fade-in fade-delay-{{ loop.index }}" href="{{ url_for('fixed.static_page', page_name=key) }}">{{ val }}</a><br class="d-block d-md-none">
            {% endfor %}
        </nav>
      </div>
    </div>
  </div>
  <hr>
  <div class="container copyright text-center mt-3 pb-5 fade-in fade-delay-12">
      <p>&copy;2026 <span>Copyright</span> <strong class="px-1 sitename">Flask tech blog</strong> <span>All Rights Reserved</span></p>
      <div class="credits">
      </div>
  </div>
</footer>
