<footer class="py-5 text-center text-body-secondary bg-body-tertiary">
    <p>このFlask tech blogはFlask学習用として構築しています。</p>
    <nav class="blog-pagination" aria-label="Pagination">
        {% for key, val in STATIC_PAGES.items(): %}
            {% if loop.index > 11 %}
                <a class="text-white-50 mx-3" href="{{ url_for('fixed.static_page', page_name=key) }}">{{ val }}</a><span> | </span>
            {% endif %}
        {% endfor %}
    </nav>
    <p class="text-muted">&copy;2026 Flask tech blog</p>    
</footer>
