<nav id="sidebarMenu"
     class="col-md-3 col-lg-2 d-md-block bg-body-tertiary sidebar collapse vh-100">
    <div class="position-sticky top-0 h-100 pt-3">
        <ul class="nav flex-column">
            <li class="nav-item">
                <a class="nav-link {% if request.endpoint == 'public.public_index' %}active{% endif %}"
                   href="{{ url_for('public.public_index') }}"><i class="fa fa-list-alt"></i>全体一覧</a>
            </li>
            <li class="nav-item">
                <a class="nav-link {% if request.endpoint == 'memo.index' %}active{% endif %}"
                   href="{{ url_for('memo.index') }}"><i class="fa fa-list"></i>投稿一覧</a>
            </li>
            <li class="nav-item">
                <a class="nav-link {% if request.endpoint == 'memo.create' %}active{% endif %}"
                   href="{{ url_for('memo.create') }}"><i class="fa fa-plus-square"></i>記事追加</a>
            </li>
            <li class="nav-item">
                <a class="nav-link {% if request.endpoint == 'auth.edit' %}active{% endif %}" href="{{ url_for('auth.edit') }}"><i class="fa fa-user"></i>ユーザ管理</a>
            </li>
        </ul>
        <hr>
        <h6 class="text-muted">開発管理</h6>
        <div class="accordion" id="accordionPanelsStayOpenExample">
            <div class="accordion-item">
                <h2 class="accordion-header">
                    <button class="accordion-button"
                            type="button"
                            data-bs-toggle="collapse"
                            data-bs-target="#panelsStayOpen-collapseOne"
                            aria-expanded="true"
                            aria-controls="panelsStayOpen-collapseOne"><i class="fa fa-files-o"></i>成果物</button>
                </h2>
                <div id="panelsStayOpen-collapseOne"
                     class="accordion-collapse collapse show">
                    <div class="accordion-body">
                        <ul class="nav flex-column">
                            <li class="nav-item">
                                <a class="nav-link" href=""><i class="fa fa-list-alt"></i>要件定義</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href=""><i class="fa fa-wpforms"></i>画面設計図</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href=""><i class="fa fa-sitemap"></i>ER図</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href=""><i class="fa fa-table"></i>クラス設計図</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="accordion-item">
                <h2 class="accordion-header">
                    <button class="accordion-button"
                            type="button"
                            data-bs-toggle="collapse"
                            data-bs-target="#panelsStayOpen-collapseTwo"
                            aria-expanded="true"
                            aria-controls="panelsStayOpen-collapseTwo"><i class="fa fa-database"></i>バックアップ</button>
                </h2>
                <div id="panelsStayOpen-collapseTwo" class="accordion-collapse collapse show">
                    <div class="accordion-body">
                        <ul class="nav flex-column">
                            <li class="nav-item">
                                <a class="nav-link"
                                   href="https://github.com/arihito/akaska_flask_percial2/tree/main/Memo"
                                   target="_blank"><i class="fa fa-github"></i>GitHub</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="accordion-item">
                <h2 class="accordion-header">
                    <button class="accordion-button"
                            type="button"
                            data-bs-toggle="collapse"
                            data-bs-target="#panelsStayOpen-collapseThree"
                            aria-expanded="true"
                            aria-controls="panelsStayOpen-collapseThree"><i class="fa fa-book"></i>外部資料</button>
                </h2>
                <div id="panelsStayOpen-collapseThree" class="accordion-collapse collapse show">
                    <div class="accordion-body">
                        <ul class="nav flex-column">
                            <li class="nav-item">
                                <a class="nav-link"
                                   href="https://flask.palletsprojects.com/en/stable/"
                                   target="_blank"><i class="fa fa-file-code-o"></i>Flask3.x</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link"
                                   href="https://getbootstrap.jp/docs/5.3/getting-started/introduction/"
                                   target="_blank"><i class="fa fa-css3"></i>Bootstrap5.3</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link"
                                   href="https://fontawesome.com/v4/icons/"
                                   target="_blank"><i class="fa fa-font-awesome"></i>FontAwesome4.7</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</nav>
