{% extends "base.html" %}

{% block content %}

    <h1>製品一覧</h1>
    {% if products == [] %}
        <p>製品は登録されていません</p>
    {% else %}
    <table  class="table table-sm table-hover table-borderless">
        <tr class="border-bottom">
            <th>製品ID</th><th>製品名</th><th>価格</th><th>発売日</th><th>編集</th>
        </tr>
        {% for product in products %}
        <tr class="border-bottom">
            <td>{{ product.product_id }}</td>
            <td>{{ product.product_name }}</td>
            <td>{{ product.price }}</td>
            <td>{{ product.released_date.strftime('%Y-%m-%d') }}</td>
            <td>
                <a href="{{ url_for('product.update', product_id=product.product_id) }}"
                        class="btn btn-outline-primary btn-sm">変更</a>
                <a href="{{ url_for('product.delete', product_id=product.product_id) }}"
                        class="btn btn-outline-primary btn-sm">削除</a>
            </td>
        </tr>
        {% endfor %}
    </table>
    {% endif %}
    <!-- flashメッセージ -->
    {% for message in get_flashed_messages() %}
    <div style="color: blue;">
        {{ message }}
    </div>
    {% endfor %}
    <!-- flashメッセージ -->
    <a href="{{ url_for('product.create') }}">製品登録</a>
{% endblock %}