{% extends "base.j2" %}
{% block content %}
    <link rel="stylesheet"
        href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.9.0/styles/github-dark.min.css">
    <style>
    .article-img {
        height: 300px;
        background: url("{{ key_visual | default('/static/images/memo/nofile.jpg') }}") center / cover no-repeat;
        filter: grayscale(100%);
        background-color: #212529;
        mix-blend-mode:color-dodge;
    }
  </style>
  <div class="mb-4 rounded text-body-emphasis bg-body-secondary article-img"></div>
  <div class="row">
    <div class="col-md-9">
      <h1 class="display-4 my-3 pb-4 border-bottom">{{ page_title }}</h1>
      <div class="markdown-body">
        {% block article_body %}
        {% endblock article_body %}
      </div>
      <div class="my-5 d-flex gap-3">
        <a class="col-8 btn btn-outline-secondary btn-lg flex-grow-1" id="scrollTopBtn"><i class="fa fa-arrow-up" aria-hidden="true"></i> ページの最上部に戻る</a>
        <a class="col-4 btn btn-outline-secondary btn-lg" style="width:30%;" href="{{ url_for('public.public_index') }}"><i class="fa fa-reply"></i> トップの一覧に戻る</a>
      </div>
    </div>
    {% include "public/aside.j2" %}
  </div>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.9.0/highlight.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/highlightjs-line-numbers.js/2.8.0/highlightjs-line-numbers.min.js"></script>
  <script>
  document.addEventListener("DOMContentLoaded", () => {
    hljs.highlightAll();
    hljs.initLineNumbersOnLoad();
  });
  document.getElementById('scrollTopBtn').addEventListener('click', () => {
    window.scrollTo({
      top: 0,
      behavior: 'smooth'
    });
  });
  </script>
{% endblock %}
