{% extends "fixed/base.j2" %}

{% block article_body %}
<h2>免責事項</h2>

<p>
本サイトに掲載されている情報は、運営者個人の学習・検証結果をまとめたものです。
</p>

<ul>
    <li>内容の正確性・安全性を保証するものではありません。</li>
    <li>本サイトの情報を利用したことによる損害について、責任を負いません。</li>
    <li>外部リンク先の内容については、各サイトの責任となります。</li>
</ul>

{% endblock %}
