{% extends "memo/base.j2" %}
{% block page_title %}記事投稿 | {{ SITE_NAME }}{% endblock %}
{% block content %}
    <div class="d-flex align-items-center py-md-4 m-md-5 mb-5">
        <div class="col-12 col-md-6 form-signin p-md-5 mx-md-auto">
            <h1 class="fade-in fade-delay-1 my-4"><i class="fa fa-plus-square"></i> 記事を投稿</h1>
            {% from 'memo/_formhelpers.j2' import render_field %}
            <form action="{{ url_for('memo.create') }}" method="post" enctype="multipart/form-data" novalidate>
                {{ form.hidden_tag() }}
                {{ render_field(form.title, wrapper_class="fade-in fade-delay-3") }}
                <link rel="stylesheet" href="https://unpkg.com/easymde/dist/easymde.min.css">
                <script src="https://unpkg.com/easymde/dist/easymde.min.js"></script>
                <div class="mb-3 fade-in fade-delay-6">
                    {{ form.content(id="content", class="form-control") }}
                    {% if form.content.errors %}
                        <div class="alert alert-danger small mt-1">
                            <i class="fa fa-exclamation-triangle"></i>
                            {% for error in form.content.errors %}{{ error }}{% endfor %}
                        </div>
                    {% endif %}
                </div>

                {% set selected_category_ids = [] %}
                {% include "memo/_categories.j2" with context %}
                {{ render_field(form.image, wrapper_class="fade-in fade-delay-9") }}
                <div class="d-flex g-3 mt-4">
                    {{ form.submit(class="btn btn-secondary py-3 fade-in fade-delay-12 w-100") }}
                    <a class="btn btn-outline-secondary py-3 fade-in fade-delay-15 ms-3" style="width:40%" href="{{ url_for('memo.index') }}"><i class="fa fa-reply"></i>一覧ページへ戻る</a>
                </div>
            </form>
        </div>
    </div>
{% endblock content %}
