<!-- Modal_term 要件定義 -->
<div class="modal fade" id="modal_term" data-bs-backdrop="static" data-bs-keyboard="false">
  <div class="modal-dialog modal-xl modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="modal_term_Label">要件定義</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
      </div>
      <div class="modal-body">
        {% if requirements_definition is defined %}
          <div class="markdown-body">
            {{ requirements_definition | markdown | safe }}
          </div>
        {% endif %}
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary btn-lg w-100" data-bs-dismiss="modal"><i class="fa fa-times me-2"></i>閉じる</button>
      </div>
    </div>
  </div>
</div>
<!-- Modal_coding コーディング規約 -->
<div class="modal fade" id="modal_coding" data-bs-backdrop="static" data-bs-keyboard="false">
  <div class="modal-dialog modal-xl modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="modal_coding_Label">コーディング規約</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
      </div>
      <div class="modal-body public">
        {% if coding_standards is defined %}
          <div class="markdown-body">
            {{ coding_standards | markdown | safe }}
          </div>
        {% endif %}
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary btn-lg w-100" data-bs-dismiss="modal"><i class="fa fa-times me-2"></i>閉じる</button>
      </div>
    </div>
  </div>
</div>
<!-- Modal_flow 画面遷移図 -->
<div class="modal fade" id="modal_flow" data-bs-backdrop="static" data-bs-keyboard="false">
  <div class="modal-dialog modal-xl modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="modal_flow_Label">画面遷移図</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
      </div>
      <div class="modal-body">
        <ul class="nav nav-tabs mb-3" id="flowTab" role="tablist">
          <li class="nav-item" role="presentation">
            <button class="nav-link active" id="flow-top-tab" data-bs-toggle="tab" data-bs-target="#flow-top" type="button" role="tab">トップページ</button>
          </li>
          <li class="nav-item" role="presentation">
            <button class="nav-link" id="flow-mypage-tab" data-bs-toggle="tab" data-bs-target="#flow-mypage" type="button" role="tab">マイページ</button>
          </li>
          <li class="nav-item" role="presentation">
            <button class="nav-link" id="flow-login-tab" data-bs-toggle="tab" data-bs-target="#flow-login" type="button" role="tab">ログイン</button>
          </li>
          <li class="nav-item" role="presentation">
            <button class="nav-link" id="flow-admin-tab" data-bs-toggle="tab" data-bs-target="#flow-admin" type="button" role="tab">管理画面</button>
          </li>
        </ul>
        <div class="tab-content" id="flowTabContent">
          <div class="tab-pane fade show active" id="flow-top" role="tabpanel">
            <img class="img-fluid" style="filter:invert(1)" src="{{ url_for('static', filename='docs/page_flow_toppage.png')}}" alt="トップページ 画面遷移図">
          </div>
          <div class="tab-pane fade" id="flow-mypage" role="tabpanel">
            <img class="img-fluid" style="filter:invert(1)" src="{{ url_for('static', filename='docs/page_flow_mypage.png')}}" alt="マイページ 画面遷移図">
          </div>
          <div class="tab-pane fade" id="flow-login" role="tabpanel">
            <img class="img-fluid" style="filter:invert(1)" src="{{ url_for('static', filename='docs/admin_login.png')}}" alt="ログイン 画面遷移図">
          </div>
          <div class="tab-pane fade" id="flow-admin" role="tabpanel">
            <img class="img-fluid" style="filter:invert(1)" src="{{ url_for('static', filename='docs/page_flow_admin.png')}}" alt="管理画面 画面遷移図">
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary btn-lg w-100" data-bs-dismiss="modal"><i class="fa fa-times me-2"></i>閉じる</button>
      </div>
    </div>
  </div>
</div>
<!-- Modal_er ER図 -->
<div class="modal fade" id="modal_er" data-bs-backdrop="static" data-bs-keyboard="false">
  <div class="modal-dialog modal-xl modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="modal_er_Label">ER図</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
      </div>
      <div class="modal-body">
        <img class="img-fluid" style="filter:invert(1)" src="{{ url_for('static', filename='docs/er.svg')}}" width="" height="" alt="ER図">
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary btn-lg w-100" data-bs-dismiss="modal"><i class="fa fa-times me-2"></i>閉じる</button>
      </div>
    </div>
  </div>
</div>
<!-- Modal_class クラス設計図 -->
<div class="modal fade" id="modal_class" data-bs-backdrop="static" data-bs-keyboard="false">
  <div class="modal-dialog modal-fullscree modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="modal_class_Label">クラス設計図</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
      </div>
      <div class="modal-body">
        <img class="img-fluid" style="filter:invert(1)" src="{{ url_for('static', filename='docs/classes_Memo.svg')}}" width="" height="" alt="クラス設計図">
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary btn-lg w-100" data-bs-dismiss="modal"><i class="fa fa-times me-2"></i>閉じる</button>
      </div>
    </div>
  </div>
</div>
<!-- Modal_class_depend クラス階層構造図 -->
<div class="modal fade" id="modal_class_depend" data-bs-backdrop="static" data-bs-keyboard="false">
  <div class="modal-dialog modal-fullscree modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="modal_class_depend_Label">クラス階層構造図</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
      </div>
      <div class="modal-body">
        <img class="img-fluid" style="filter:invert(1)" src="{{ url_for('static', filename='docs/packages_Memo.svg')}}" width="" height="" alt="クラス依存関係図">
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary btn-lg w-100" data-bs-dismiss="modal"><i class="fa fa-times me-2"></i>閉じる</button>
      </div>
    </div>
  </div>
</div>
<!-- Modal_app アプリ内構成図 -->
<div class="modal fade" id="modal_app" data-bs-backdrop="static" data-bs-keyboard="false">
  <div class="modal-dialog modal-xl modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="modal_app_Label">アプリ内構成図</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
      </div>
      <div class="modal-body">
        <img class="img-fluid" style="filter:invert(1)" src="{{ url_for('static', filename='docs/architecture.png')}}" width="" height="" alt="アプリ内構成図">
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary btn-lg w-100" data-bs-dismiss="modal"><i class="fa fa-times me-2"></i>閉じる</button>
      </div>
    </div>
  </div>
</div>

<!-- Modal_service サービス構成図 -->
<div class="modal fade" id="modal_service" data-bs-backdrop="static" data-bs-keyboard="false">
  <div class="modal-dialog modal-xl modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="modal_service_Label">サービス構成図</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
      </div>
      <div class="modal-body p-0" style="background:#000;">
        <div id="service_drawio_container" style="filter:invert(1) grayscale(1);">
          <div class="mxgraph"
               style="width:100%; max-width:100%; overflow:hidden;"
               data-mxgraph="{{ service_drawio_config | e }}">
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary btn-lg w-100" data-bs-dismiss="modal"><i class="fa fa-times me-2"></i>閉じる</button>
      </div>
    </div>
  </div>
</div>
