<div class="position-sticky top-0 py-4">
    <ul class="nav flex-column">
        <li class="nav-item fade-in fade-in-delay-2"><a class="nav-link text-body-secondary fs-5 {% if request.endpoint and request.endpoint.startswith('admin.index') %}active{% endif %}" href="{{ url_for('admin.index') }}"><i class="fa fa-shield me-2"></i>管理者ダッシュボード</a></li>
        <hr>
        <li class="nav-item fade-in fade-in-delay-4"><a class="nav-link text-body-secondary fs-5 {% if request.endpoint and request.endpoint.startswith('memo.index') %}active{% endif %}" href="{{ url_for('memo.index') }}"><i class="fa fa-address-card me-2"></i>マイページ</a></li>
        <hr>
        <li class="nav-item fade-in fade-in-delay-6"><a class="nav-link text-body-secondary fs-5 {% if request.endpoint and request.endpoint.startswith('public.public_index') %}active{% endif %}" href="{{ url_for('public.public_index') }}"><i class="fa fa-wpforms me-2"></i>トップページ</a></li>
        <hr>
        <li class="nav-item fade-in fade-in-delay-7"><a class="nav-link text-body-secondary fs-5 {% if request.endpoint == 'admin.marketing' %}active{% endif %}" href="{{ url_for('admin.marketing') }}"><i class="fa fa-line-chart me-2"></i>マーケティング戦略</a></li>
        <hr>
        <li class="nav-item fade-in fade-in-delay-8"><a class="nav-link text-body-secondary fs-5 {% if request.endpoint == 'admin.fixed' %}active{% endif %}" href="{{ url_for('admin.fixed') }}"><i class="fa fa-file-text-o me-2"></i>固定ページ管理</a></li>
        <hr>
        <li class="nav-item fade-in fade-in-delay-10"><a class="nav-link text-body-secondary fs-5 {% if request.endpoint == 'admin.user_thumb' %}active{% endif %}" href="{{ url_for('admin.user_thumb') }}"><i class="fa fa-user-circle me-2"></i>ユーザーサムネイル</a></li>
        <hr>
        <li class="nav-item fade-in fade-in-delay-11"><a class="nav-link text-body-secondary fs-5 {% if request.endpoint == 'admin.category' %}active{% endif %}" href="{{ url_for('admin.category') }}"><i class="fa fa-tags me-2"></i>カテゴリー管理</a></li>
        <hr>
        <li class="nav-item fade-in fade-in-delay-11"><a class="nav-link text-body-secondary fs-5 {% if request.endpoint == 'admin.coverage' %}active{% endif %}" href="{{ url_for('admin.coverage') }}"><i class="fa fa-table me-2"></i>テスト網羅率状況</a></li>
    </ul>
</div>
