{% extends "memo/base.j2" %}
{% block content %}
    <div class="d-flex align-items-center py-4 m-5">
        <div class="form-signin p-5 w-50 m-auto">
            <form action="{{ url_for('auth.edit') }}" method="post" enctype="multipart/form-data" novalidate>
                {% from "auth/_formhelpers.j2" import render_floating_field %}
                {{ form.hidden_tag() }}
                <h1 class="h3 mb-3 fw-normal fade-in fade-delay-1"><i class="fa fa-user-circle-o me-2"></i>ユーザー管理</h1>
                {% if not current_user.is_oauth_user %}
                    <p class="text-body-secondary fade-in fade-delay-2"><i class="fa fa-user me-2"></i>ユーザー名の変更が必要であれば以下を編集してください (任意)。</p>
                    {{ render_floating_field(form.username, "ユーザー名", wrapper_class="fade-in fade-delay-3") }}
                    <hr class="my-5 opacity-25 fade-in fade-delay-4">
                    <div class="form-check my-3 text-start ps-0 fade-in fade-delay-6">
                        <div class="pretty p-switch p-fill">
                            {{ form.change_password(
                                class="form-check-input",
                                id="changePasswordCheck"
                            ) }}
                            <div class="state">
                                {{ form.change_password.label(class="form-check-label") }}
                            </div>
                        </div>
                    </div>
                    <div id="password-area" class="password-area">
                        {{ render_floating_field(form.password, "パスワード") }}
                        {{ render_floating_field(form.confirm_password, "確認用") }}
                    </div>
                {% else %}
                    <div class="alert alert-secondary fade-in fade-delay-3 my-5">
                        Googleログインユーザーはユーザー名・パスワードの変更はできません。
                    </div>
                {% endif %}
                <hr class="mt-4 mb-5 opacity-25 fade-in fade-delay-10">
                <p class="text-body-secondary fade-in fade-delay-12"><i class="fa fa-envelope-o me-2"></i>メールアドレスは変更できません。</p>
                <div class="mb-3 fade-in fade-delay-16">
                    <input class="form-control text-body-secondary mt-2 mb-4 fs-5" type="text" value="{{ email }}" disabled>
                </div>
                <hr class="my-5 opacity-25 fade-in fade-delay-17">
                <p class="text-body-secondary fade-in fade-delay-18"><i class="fa fa-image me-2"></i>アイコンの変更が必要であればファイルをアップロードするか、以下のアイコンから選択してください。</p>
                {{ render_floating_field(form.thumbnail, "ファイル", wrapper_class="fade-in fade-delay-12") }}
                <div class="thumbnail-select d-flex flex-wrap gap-3">
                    {% for img in thumbnails %}
                        <div class="fade-in fade-delay-{{ loop.index }}">
                            <input
                                type="radio"
                                name="preset_thumbnail"
                                id="thumb-{{ loop.index }}"
                                value="{{ img }}"
                                class="d-none"
                                {% if current_user.thumbnail == img %}checked{% endif %}
                            >
                            <label for="thumb-{{ loop.index }}" class="thumb-label">
                                <img
                                    src="{{ url_for('static', filename='images/user/' ~ img) }}"
                                    alt="thumbnail"
                                    class="thumb-img"
                                    width=""
                                    height=""
                                    style="filter:grayscale(80%)"
                                >
                            </label>
                        </div>
                    {% endfor %}
                </div>
                <nav class="navbar bg-body-secondary my-5 rounded-3 fade-in fade-delay-6">
                    <div class="container-fluid justify-content-start my-2 mx-2">
                        <button type="submit" name="submit" value="1" class="btn btn-secondary btn-lg me-2 text-dark flex-fill fade-in fade-delay-8"><i class="fa fa-recycle me-2"></i>{{ form.submit.label.text }}</button>
                        <a class="btn btn-outline-secondary btn-lg me-2 fade-in fade-delay-10" href="#" id="backBtn"><i class="fa fa-arrow-left"></i> 直前のページに戻る</a>
                    </div>
                </nav>
            </form>
            <div class="form-check my-4 fade-in fade-delay-6 ps-0">
              <div class="pretty p-switch p-fill">
                {{ form.delete_user(id="deleteUserCheck") }}
                <div class="state"><label for="deleteUserCheck">このユーザーを削除する</label></div>
              </div>
            </div>
            <div id="delete-area" class="delete-area">
              <button type="button" class="btn btn-outline-secondary btn-lg w-100" data-bs-toggle="modal" data-bs-target="#deleteConfirmModal">
                <i class="fa fa-trash-o me-2"></i>削除
              </button>
            </div>
            <div class="modal fade" id="deleteConfirmModal" tabindex="-1">
              <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title text-center"><i class="fa fa-exclamation-circle me-2"></i>ユーザー削除の確認</h5>
                  </div>
                  <div class="modal-body">この操作は取り消せません。本当に削除しますか？</div>
                  <div class="modal-footer d-flex gap-3">
                    <button type="button" class="btn btn-secondary flex-fill" data-bs-dismiss="modal">
                      <i class="fa fa-reply me-2"></i>キャンセル
                    </button>
                    <form method="post" action="{{ url_for('auth.delete') }}" class="d-block flex-fill m-0">
                      {{ form.hidden_tag() }}
                      <button type="submit" class="btn btn-danger w-100">
                        <i class="fa fa-trash me-2"></i>削除を実行
                      </button>
                    </form>
                  </div>
                </div>
              </div>
            </div>
        </div>
    </div>
{% endblock content %}
