{% extends "base.j2" %}
{% block page_title %}ログイン | {{ SITE_NAME }}{% endblock %}
{% block content %}
    <div class="d-flex align-items-center py-md-4 m-md-5 mb-5">
        <div class="col-12 col-md-6 form-signin p-md-5 mx-md-auto">
            <form action="{{ url_for('auth.login') }}" method="post" novalidate>
                {% from "auth/_formhelpers.j2" import render_floating_field %}
                {{ form.hidden_tag() }}
                <h1 class="h3 mb-3 fw-normal fade-in fade-delay-1"><i class="fa fa-sign-in me-2"></i>ログイン</h1>
                {% with messages = get_flashed_messages(with_categories=true) %}
                    {% if messages %}
                        {% for alert_type, message in messages %}
                        {% set icon = 'exclamation-triangle' if alert_type == 'danger' else 'check' %}
                            <div class="alert alert-{{ alert_type }} text-center"><i class="fa fa-{{ icon }} me-2"></i>{{ message }}</div>
                        {% endfor %}
                    {% endif %}
                {% endwith %}
                {{ render_floating_field(form.email, "Email address", wrapper_class="fade-in fade-delay-2", autofocus=True) }}
                {{ render_floating_field(form.password, "Password", wrapper_class="fade-in fade-delay-4") }}
                <nav class="navbar bg-body-secondary my-3 rounded-3 fade-in fade-delay-6">
                    <div class="container-fluid justify-content-start my-2 mx-2">
                        <button type="submit" class="btn btn-secondary btn-lg me-2 text-dark flex-fill fade-in fade-delay-8"><i class="fa fa-sign-in me-2"></i>{{ form.submit.label.text }}</button>
                        <a class="btn btn-outline-secondary btn-lg me-2 fade-in fade-delay-10" href="#" id="backBtn"><i class="fa fa-arrow-left"></i> 直前のページに戻る</a>
                    </div>
                </nav>
                <div class="form-check my-3 text-start fade-in fade-delay-14 ps-0">
                    <div class="pretty p-switch p-fill">
                        <input type="checkbox" class="form-check-input" />
                        <div class="state">
                            {{ form.remember.label(class="form-check-label") }}
                        </div>
                    </div>
                </div>
                <p class="my-4 fade-in fade-delay-16">
                    <i class="fa fa-user-plus me-2"></i>アカウントをお持ちでない場合は
                    「<a class="mt-5 mb-3 text-body-secondary" href="{{ url_for('auth.register') }}"><strong>こちら</strong></a>」から新規登録するか、<br>以下のボタンからGoogleIDでログインしてください。
                </p>
            </form>
            <div class="my-5 fade-in fade-delay-14">
                <hr class="opacity-25">
            </div>
            <a class="btn btn-outline-secondary btn-lg w-100 fade-in fade-delay-18" href="{{ url_for('auth.oauth_login') }}"><i class="fa fa-google"></i>Googlでログイン</a>
        </div>'
    </div>
{% endblock content %}
