{% extends "base.j2" %}
{% block content %}
    <div class="d-flex align-items-center py-4 m-5">
        <div class="form-signin p-5 w-50 m-auto">
            <form action="{{ url_for('auth.login') }}" method="post" novalidate>
                {% from "auth/_formhelpers.j2" import render_floating_field %}
                {{ form.hidden_tag() }}
                <h1 class="h3 mb-3 fw-normal">ログイン</h1>
                {{ render_floating_field(form.username, "Email address") }}
                {{ render_floating_field(form.password, "Password") }}
                {{ form.submit(class="btn btn-outline-secondary w-100") }}
                <div class="form-check my-3 text-start">
                    {{ form.remember(class="form-check-input") }}
                    {{ form.remember.label(class="form-check-label") }}
                </div>
                <p class="my-4">
                    アカウントをお持ちでない場合は
                    <a class="mt-5 mb-3 text-body-secondary" href="{{ url_for('auth.register') }}">こちら</a>から登録してください。
                </p>
            </form>
        </div>
    </div>
{% endblock content %}
