{% extends "base.j2" %}
{% block content %}
    <div class="d-flex align-items-center py-4 m-5">
        <div class="form-signin p-5 w-50 m-auto">
            <form action="{{ url_for('auth.login') }}" method="post" novalidate>
                {% from "auth/_formhelpers.j2" import render_floating_field %}
                {{ form.hidden_tag() }}
                <h1 class="h3 mb-3 fw-normal fade-in fade-delay-1"><i class="fa fa-sign-in me-2"></i>ログイン</h1>
                {% with messages = get_flashed_messages(with_categories=true) %}
                    {% if messages %}
                        {% for category, message in messages %}
                            <div class="alert alert-{{ category }}">{{ message }}</div>
                        {% endfor %}
                    {% endif %}
                {% endwith %}
                {{ render_floating_field(form.username, "Email address", wrapper_class="fade-in fade-delay-2", autofocus=True) }}
                {{ render_floating_field(form.password, "Password", wrapper_class="fade-in fade-delay-4") }}
                {{ form.submit(class="btn btn-outline-secondary w-100 fade-in fade-delay-6") }}
                <div class="form-check my-3 text-start fade-in fade-delay-16 ps-0">
                <div class="pretty p-switch p-fill">
                <input type="checkbox" class="form-check-input" />
                <div class="state">
                {{ form.remember.label(class="form-check-label") }}
                </div>
                </div>
                </div>
                <p class="my-4 fade-in fade-delay-8">
                    <i class="fa fa-user-plus me-2"></i>アカウントをお持ちでない場合は
                    <a class="mt-5 mb-3 text-body-secondary" href="{{ url_for('auth.register') }}">こちら</a>から登録してください。
                </p>
            </form>
            <hr class="my-5 fade-in fade-delay-10">
            <a class="btn btn-outline-secondary btn-lg w-100 fade-in fade-delay-12" href="{{ url_for('auth.oauth_login') }}"><i class="fa fa-google"></i>Googlでログイン</a>
        </div>'
    </div>
{% endblock content %}
